html {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial;
    text-decoration: none; /* makes sure there is no decoration on the text because its set to none */
    color: inherit; /* inherits color from parent */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: #292b2f; /* navigation bar is grey */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%; /* takes full width of container */
    list-style: none;
    display: flex; /* creates a flex box that has elements in a row */
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px; /* height of navigation bar(individual items) */
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center; /* centered link content */
    color: white;
}

nav a:hover {
    color: skyblue;
}

nav li:first-child { /* just for first element */
    margin-right: auto;
    font-weight: bold;
}

.sidebar { /* vertical sidebar settings */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;  /* takes up entire screen vertically */
    width: 250px;
    z-index: 999;
    background-color: black;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column; /* links will be showed in a column */
    align-items: flex-start;
    justify-content: flex-start; /* pushes items to the top of the menu sidebar */
}

.sidebar li {
    width: 100%; /* links take up entire width of the sidebar */
}

.sidebar a{
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
    
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }

}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .col-left img {
    margin-right: 25%;
    height: 70%;
    width: 50%;
    margin-bottom: 20%;
}

.container .col-left {
    flex: 1;

}

.container .col-right {
    flex: 1;
}

.container .button {
    flex: 1;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#home {
    background: linear-gradient(skyblue, rgb(78, 77, 77));
}

#home .intro {
    position: relative;
    left: 50vw;
    top: 30vh;
    font-size: 1.35vw;
    background-color: #292b2f;
    color: white;
}

.container .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.container .button:hover {
    border-color: black;
}

#about {
    background-color: #292b2f; /* consistent background colour */
}


#about .about { /* for about me text, uses a flex column to organize the text for responsive web design */
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}

#about .about h1 {
    color: skyblue;
    font-size: 48px;
}

#about .about p {
    color: white;
    font-size: 1.2em;
}


#about .contain { /* creates container so that information can be placed side by side */
    display: flex;
}

#about .col-left {
    width: 60%;
    height: 60%;
}

#about .col-left img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

#about .col-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    height: 50%;
}

#about .col-right-right {
    color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;

}

#about .col-right-right h1 {
    font-size: 30px;
}

#about .col-right-right .button { /* button */
    padding: 10px 20px;
    color: black;
    background-color: white;
}

#about .col-right-right .button:hover {
    background-color: skyblue; /* turns icons to skyblue when hovered */
}

#about .col-right h1 {
    color: skyblue;
    font-size: 30px;
}

#about .col-right .social {
    font-size: 3em;
    color: white;
    gap: 20px;
}

#about .col-right .social:hover {
    color: skyblue;
}


#about .col-right .animation {
    margin-top: 180px;

}

/* animation code */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Animation classes */
.animation .text-one {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    font-size: 48px;

}

.animation .text-two {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1.5s; /* Delay for the second text */
    font-size: 48px;
}

.animation .text-three {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2s; /* Delay for the third text */
    font-size: 48px;
}

/* Projects section */

#projects {
    background-color: #292b2f;
}

/* introductory information */
#projects .projects {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects h1 {
    color: skyblue;
    font-size: 48px;
}

#projects .projects p {
    color: white;
    font-size: 1.2em;
}


/* flex box: organizing text in two columns */
#projects .box {
    display: flex;
}

#projects .box .col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    color: skyblue;
    margin-left: 5%;
}

#projects .box .col-left h1 {
    font-size: 30px;
}

#projects .box .col-right h1 {
    font-size: 30px;
}

#projects .box .col-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    color: skyblue;
}

#projects .box .col-left .descriptionOne {
    color: white;
    font-size: 1.2em;
}

#projects .box .col-right .imageOne {
    width: 20%;
    height: auto;
}

#projects .box .col-left .descriptionTwo {
    color: white;
    font-size: 1.2em;
    margin-top: 200px;
}

#projects .box .col-right .imageTwo {
    width: 20%;
    height: auto;
    margin-top: 125px;
}

#projects .box .col-left .descriptionThree {
    color: white;
    font-size: 1.2em;
    margin-top: 200px;
}

#projects .box .col-right .imageThree {
    width: 20%;
    height: auto;
    margin-top: 125px;
}

#projects .box .col-left .descriptionFour {
    color: white;
    font-size: 1.2em;
    margin-top: 200px;
}

#projects .box .col-right .imageFour {
    width: 20%;
    height: auto;
    margin-top: 125px;
}

#projects .box .col-left .descriptionFive {
    color: white;
    font-size: 1.2em;
    margin-top: 200px;
}

#projects .box .col-right .imageFive {
    width: 20%;
    height: auto;
    margin-top: 125px;
}



#music {
    background-color: #292b2f;
}

#music .music {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#music .music h1 {
    color: skyblue;
    font-size: 48px;
}

#music .music p {
    color: white;
    font-size: 1.2em;
}

#music .containerTwo {
    display: flex;
}

#music .containerTwo .col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    color: skyblue;
    margin-left: 5%;
}

#music .containerTwo .col-left h1 {
    font-size: 30px;
}

#music .containerTwo .col-right h1 {
    font-size: 30px;
}

#music .containerTwo .col-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    color: skyblue;
    margin-right: 5%;
}
