html {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial;
    text-decoration: none; /* makes sure there is no decoration on the text because its set to none */
    color: inherit; /* inherits color from parent */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black; /* navigation bar is grey */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%; /* takes full width of container */
    list-style: none;
    display: flex; /* creates a flex box that has elements in a row */
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px; /* height of navigation bar(individual items) */
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center; /* centered link content */
    color: white;
}

nav a:hover {
    color: skyblue;
}

nav li:first-child { /* just for first element */
    margin-right: auto;
    font-weight: bold;
}

.sidebar { /* vertical sidebar settings */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;  /* takes up entire screen vertically */
    width: 250px;
    z-index: 999;
    background-color: black;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column; /* links will be showed in a column */
    align-items: flex-start;
    justify-content: flex-start; /* pushes items to the top of the menu sidebar */
}

.sidebar li {
    width: 100%; /* links take up entire width of the sidebar */
}

.sidebar a{
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
    
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* IMPORTANT CODE; don't remove until home section */
/* Home section */
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .columns .col-left img {
    width: 95%;
    height: auto;
    margin-right: 25%;
    margin-bottom: 20%;
}

.container .col-left {
    flex: 1;

}

.container .col-right {
    flex: 1;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#home {
    background: rgb(58, 116, 139);
}

#home .home {
    display: flex;
    flex-direction: column;
}

#home .columns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#home .col-left, #home .col-right {
    flex: 1;
    margin: 10px;
}

#home .col-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

#home .col-right h1 {
    font-size: 48px;
    margin-bottom: 30%;
}

#home .col-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: skyblue;
}

/* About section */
#about {
    background-color: #292b2f; /* consistent background colour */
}

#about .about { /* for about me text, uses a flex column to organize the text for responsive web design */
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}

#about .about h1 {
    color: skyblue;
    font-size: 48px;
}

#about .about p {
    color: white;
    font-size: 1.2em;
}


#about .contain { /* creates container so that information can be placed side by side */
    display: flex;
}

#about .col-left {
    width: 60%;
    height: 60%;
}

#about .col-left img {
    width: 60%;
    height: auto;
    border-radius: 50%;
}

#about .col-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    height: 50%;
}

#about .col-right-right {
    color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;

}

#about .col-right-right h1 {
    font-size: 30px;
}

#about .col-right-right .button { /* button */
    padding: 10px 20px;
    color: black;
    background-color: white;
}

#about .col-right-right .button:hover {
    background-color: skyblue; /* turns icons to skyblue when hovered */
}

#about .col-right h1 {
    color: skyblue;
    font-size: 30px;
}

#about .col-right .social {
    /*margin-left: 4%; */
    font-size: 3em;
    color: white;
    gap: 20px;
}

#about .col-right .social:hover {
    color: skyblue;
}

#about .col-right .animation {
    margin-top: 180px;
}

/* animation code */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Animation classes */
.animation .text-one {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    font-size: 48px;
}

.animation .text-two {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1.5s; /* Delay for the second text */
    font-size: 48px;
}

.animation .text-three {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2s; /* Delay for the third text */
    font-size: 48px;
}

/* Projects section */
#projects {
    background-color: #292b2f;
}

#projects .projects {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects h1 {
    color: skyblue;
    font-size: 48px;
}

#projects .projects p {
    color: white;
    font-size: 1.2em;
}

#projects .box {
    display: flex;
    flex-direction: column;
}

#projects .project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#projects .col-left, #projects .col-right {
    flex: 1;
    margin: 10px;
}

#projects .col-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: skyblue;
    margin-left: 10%;
}

#projects .col-left h1, #projects .col-right h1 {
    font-size: 30px;
}

#projects .col-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
}

#projects .col-left .descriptionOne, 
#projects .col-left .descriptionTwo, 
#projects .col-left .descriptionThree, 
#projects .col-left .descriptionFour, 
#projects .col-left .descriptionFive {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
}

#projects .col-right .imageOne, 
#projects .col-right .imageTwo, 
#projects .col-right .imageThree, 
#projects .col-right .imageFour, 
#projects .col-right .imageFive {
    width: 150px;
    height: auto;
}


@media screen and (max-width: 425px) {
    #projects .box .project {
        flex-direction: column;
        align-items: center;
    }

    #projects .col-left, #projects .col-right {
        flex: unset;
        margin: 5px 0;
    }

    #projects .col-left {
        align-items: center;
        text-align: center;
        margin-right: 0;
    }
}

/* Music section */

#music {
    background-color: #292b2f;
}

#music .music {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#music .music h1 {
    color: skyblue;
    font-size: 48px;
}

#music .music p {
    color: white;
    font-size: 1.2em;
}

#music .containerTwo {
    display: flex;
    flex-direction: column;
}

#music .containerTwo .album {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#music .col-left, #music .col-right { /* flex: 1 means both columns will either grow equally to fill space, shrink equally if there is not enough space, or take up space based on content*/
    flex: 1;
    margin: 10px;
}

#music .col-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
}

#music .col-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: skyblue;
    margin-right: 5%;
}

#music .col-left .coverOne, #music .col-left .coverTwo, #music .col-left .coverThree {
    width: 250px;
    height: auto;
}

#music .col-right p {
    color: white;
    font-size: 1.2em;
}

@media screen and (max-width: 425px) {
    #music .containerTwo .album {
        flex-direction: column;
        align-items: center;
    }
    
    #music .col-left, #music .col-right {
        flex: unset; /* Reset flex to let them take full width */
        margin: 5px 0;
    }

    #music .col-right {
        align-items: center;
        text-align: center;
        margin-right: 0;
    }
}

/* Other section */

#hobbies {
    background-color: #292b2f;
}

#hobbies .other {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#hobbies .other h1 {
    font-size: 48px;
    color: skyblue;
}

#hobbies .other p {
    font-size: 1.2em;
    color: white;
}

/* pictures section in Other */
#hobbies .containerThree {
    display: flex;
    flex-direction: column;
}

#hobbies .containerThree .photo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#hobbies .photo .col-left, #hobbies .photo .col-right {
    flex: 1;
    margin : 10px;
}

#hobbies .col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hobbies .col-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hobbies .photo .picThree, #hobbies .photo .picFour, #hobbies .photo .picFive, #hobbies .photo .picSix {
    width: 100%;
    height: auto;
}

#remarks {
    background-color: #292b2f;

}

#remarks .remarks {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#remarks .remarks p {
    color: white;
    font-size: 30px;
}

#remarks .remarks h3 {
    color: white;
    font-size: 20px;
    margin-top: 60px;
}
